.projeto-titulo h3 {
  color: #b0b0b0;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.cardt1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  margin-bottom: 40px;
}
.card-cont h2 {
  color: #f9f8f3;
  font-family: "krub", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 12px;
}
.card-cont p {
  color: #b0b0b0;
  font-family: "Inter", sans-serif;
  text-align: justify;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 24px;
}
.card-cont span {
  color: #b0b0b0;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 320px;
}
.cardimg img {
  width: 630px;
  height: 500px;
  border-radius: 24px;
}

.cardt2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  margin-bottom: 40px;
}
