:root {
  --cor-0: #f9f8f3;
  --cor-1: #b0b0b0;
  --cor-2: #1b58ed;
  --cor-3: #1a1dae;
  --cor-4: #7700d4;
  --cor-5: #420670;
  --cor-6: #333333;
  --cor-7: #3e3e3e;
  --cor-8: var(--c1, linear-gradient(180deg, #181818 0%, #0c0c0c 100%));
  --cor-9: linear-gradient(91deg, #2867ff 0.73%, #7700d4 41.1%, #1a1dae 76.35%);
  --cor-10: linear-gradient(
    136deg,
    #ff39da 1.85%,
    #7700d4 49.19% #1b58ed 97.49%
  );

  .cor-0 {
    color: var(--cor-0);
  }
  .cor-1 {
    color: var(--cor-1);
  }
  .cor-2 {
    color: var(--cor-2);
  }
  .cor-3 {
    color: var(--cor-3);
  }
  .cor-4 {
    color: var(--cor-4);
  }
  .cor-5 {
    color: var(--cor-5);
  }
  .cor-6 {
    color: var(--cor-6);
  }
  .cor-7 {
    color: var(--cor-7);
  }
  .cor-8 {
    color: var(--cor-8);
  }
  .cor-9 {
    color: var(--cor-9);
  }
  .cor-10 {
    color: var(--cor-10);
  }
}
