.font-1-t {
  font: 700 3rem "Krub", sans-serif;
}
.font-2-t {
  font: 700 2rem "krub", sans-serif;
}
.font-3-ts {
  font: 600 1.25rem "Inter", sans-serif;
}
.font-4-tp {
  font: 400 1.1rem "Inter", sans-serif;
}
.font-5-tp {
  font: 500 0, 93rem "Inter", sans-serif;
}
