body {
  padding: 0;
  margin: 0px;
  background: var(--c1, linear-gradient(180deg, #181818 0%, #0c0c0c 100%));
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 80px;
  margin-right: 80px;
}
h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dd {
  margin: 0px;
}
ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
@media (max-width: 800px) {
  body {
    margin-left: 40px;
    margin-right: 40px;
  }
}
@media (max-width: 600px) {
  body {
    margin-left: 34px;
    margin-right: 34px;
  }
}
