.contato-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contato-geral {
  margin-top: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}
.contato-conteudo h3 {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #b0b0b0;
  margin-bottom: 8px;
}
.contato-conteudo h1 {
  font-family: "Krub", sans-serif;
  font-size: 2.25rem;
  color: #f9f8f3;
  width: 480px;
  margin-bottom: 24px;
}
.contato-conteudo p {
  font-family: "Inter", sans-serif;
  color: #b0b0b0;
  font-size: 1.1rem;
  text-align: justify;
  margin-bottom: 24px;
}
.redes-sociais {
  margin-top: 24px;
}
.sociais {
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
}
.conts-btn {
  width: 240px;
  height: 50px;
  border: none;
  border-radius: 30px;
  background: #1b58ed;
}
.conts-btn a {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #f9f8f3;
}
.conts-btn:hover {
  background: #1a1dae;
}
.conts-btn a:hover {
  font-size: 18px;
  font-weight: 500;
  color: #b0b0b0;
}

/* From Uiverse.io by omriluz */
.form-container {
  width: 550px;
  height: 600px;
  border: 2px solid #7700d4; /* Borda roxa */
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  color: #f9f8f3;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: transparent; /* Fundo transparente */
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
}

.form-group input,
.form-group textarea {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 420px;
  padding: 10px;
  border: 2px solid #3e3e3e; /* Borda da caixa */
  border-radius: 4px;
  background-color: #333; /* Fundo da caixa */
  color: #f9f8f3; /* Cor do texto */
}

.form-group textarea {
  resize: none;
}

.enviar .form-submit-btn {
  font-family: "Inter", sans-serif;
  width: 442px;
  padding: 15px;
  border: none;
  border-radius: 8px;
  background-color: #7700d4; /* Cor roxa para o botão */
  color: #fff; /* Cor do texto no botão */
  font-size: 16px;
  cursor: pointer;
}

.enviar .form-submit-btn:hover {
  background-color: #420670;
}
/* Responsividade */
@media (max-width: 800px) {
  .contato-geral {
    margin-top: 120px;
    grid-template-columns: 1fr;
  }
  .contato-conteudo h1 {
    font-size: 2rem;
    width: 400px;
  }
  .contato-conteudo p {
    font-size: 1rem;
    margin-bottom: 40px;
  }
  .redes-sociais {
    display: none;
  }
}
@media (max-width: 600px) {
  .contato-geral {
    margin-top: 80px;
  }
  .contato-conteudo p {
    width: 400px;
  }
  .conts-btn {
    width: 200px;
    height: 40px;
  }
  .conts-btn a {
    font-size: 14px;
  }
  .conts-btn a:hover {
    font-size: 14px;
  }
  .form-container {
    width: 400px;
    height: 700px;
  }
  .form-group input,
  .form-group textarea {
    width: 300px;
  }
  .enviar .form-submit-btn {
    width: 320px;
  }
}
