.sobrenos {
  margin-top: 150px;
}
.sobrenos-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.sobre-conteudo h3 {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #b0b0b0;
  margin-bottom: 8px;
}
.sobre-conteudo h1 {
  font-family: "Krub", sans-serif;
  font-size: 2.25rem;
  color: #f9f8f3;
  width: 400px;
  margin-bottom: 24px;
}
.sobre-conteudo p {
  font-family: "Inter", sans-serif;
  color: #b0b0b0;
  font-size: 1.1rem;
  text-align: justify;
  margin-bottom: 64px;
}
.sobre-btn {
  width: 180px;
  height: 50px;
  border-radius: 30px;
  border: none;
  background: #1b58ed;
}
.sobre-btn a {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #f9f8f3;
}
.sobre-btn:hover {
  background: #1a1dae;
}
.sobre-btn a:hover {
  font-size: 18px;
  font-weight: 500;
  color: #b0b0b0;
}

/* Responsividade */
@media (max-width: 800px) {
  .sobrenos {
    margin-top: 120px;
  }
  .sobrenos-container {
    grid-template-columns: 1fr;
  }
  .sobre-conteudo h1 {
    font-size: 2rem;
    width: 400px;
  }
  .sobre-conteudo p {
    font-size: 1rem;
    margin-bottom: 40px;
  }
  .globo {
    display: none;
  }
}
@media (max-width: 600px) {
  .sobrenos {
    margin-top: 80px;
  }
  .sobre-conteudo p {
    width: 400px;
  }
  .sobre-btn {
    width: 140px;
    height: 40px;
  }
  .sobre-btn a {
    font-size: 14px;
  }
  .sobre-btn a:hover {
    font-size: 14px;
  }
}
